<div ng-include="'components/navbar/navbar.html'"></div>
<div layout="row" layout-margin>
  <h2 class="logo"><a ng-href="/">/r/Amiibo Scalper Search</a></h2>
</div>
<div layout="column" layout-margin layout-fill layout-padding>
  <div flex>
    <h2>
      <a ng-href="//reddit.com/user/{{user.username}}" class="users" target="_blank">/u/{{user.username}}</a> - <span class="safe" ng-if="user.weights.total <= 0.05">Not a scalper!</span><span class="caution md-warning" ng-if="user.weights.total > 0.05 &amp;&amp; user.weights.total < 0.15">Could be a scalper!</span><span class="danger" ng-if="user.weights.total > 0.15">Probably a scalper!</span></h2>
    <h3>Days On Reddit: {{user.days}}</h3>
    <h4>Average User: {{average}} days</h4>
    <chartist class="ct-chart" chartist-data="daysData" chartist-chart-type="Line" chartist-chart-options="lineOptions" chartist-events="lineEvents" chartist-responsive-options="lineOptions"></chartist>
    <div layout="row">
      <div flex="33">
        <h3>Comment Weight: {{(user.weights.comments.deleted + user.weights.comments.sarcasm + user.weights.comments.scalpRelated) | percentage}}</h3>
        <chartist class="ct-chart" chartist-data="commentWeightsData" chartist-chart-type="Pie" chartist-chart-options="weightsOptions"></chartist>
      </div>
      <div flex="33">
        <h3>Day Weight: {{user.weights.day | percentage}}</h3>
        <chartist class="ct-chart" chartist-data="dayWeightsData" chartist-chart-type="Pie" chartist-chart-options="weightsOptions"></chartist>
      </div>
      <div flex="33">
        <h3>Total Weight {{user.weights.total | percentage}}</h3>
        <chartist class="ct-chart" chartist-data="totalWeightsData" chartist-chart-type="Pie" chartist-chart-options="weightsOptions"></chartist>
      </div>
    </div>
    <div layout="column" ng-if="user.comments.scalp.length > 0">
      <div flex>
        <md-content>
          <md-card class="md-whiteframe-z4">
            <md-card-content>
              <h2>Scalp Related Comments</h2>
              <md-list>
                <md-item ng-repeat="comment in user.comments.scalp">
                  <md-item-content>
                    <div class="md-tile-left">
                      {{comment.score}}
                    </div>
                    <div class="md-tile-content">
                      <p ng-bind-html="comment.body"></p>
                    </div>
                  </md-item-content>
                </md-item>
              </md-list>
            </md-card-content>
          </md-card>
        </md-content>
      </div>
    </div>
  </div>
</div>
<div ng-include="'components/footer/footer.html'"></div>
